<container class="flex h-screen items-center justify-center bg-gray-400">
    <div class="max-w-3xl rounded-3xl">
      <div class="rounded-3xl bg-white">
        <div class="font-poppins ml-5 grid grid-cols-3">
          <!--Left handside column -->
          <div class="font-poppins col-span-2 mx-7 text-center">
            <div class="mt-8 items-start">
              <div class="flex flex-col items-start">
                <p class="mb-2 text-xl font-black">Invite your team</p>
                <p class="text-sm">Invite your team, home owners, and tenants</p>
              </div>
  
              <form class="mt-3 flex flex-col">
                <div class="">
                  <label class="mb-2 flex text-lg font-medium">Invite with link</label>
                  <input class="mb-3 w-full rounded-lg border border-gray-400 px-3 py-3 placeholder-black" id="agency-name-input" type="text" placeholder="invite link...." />
  
                  <label class="mb-2 flex text-lg font-medium">Invite with email</label>
                  <input class="mb-3 w-full rounded-lg border border-gray-400 px-3 py-3 placeholder-black" id="agency-phone-input" type="text" placeholder="Add email here..." />
                  <input class="mb-3 w-full rounded-lg border border-gray-400 px-3 py-3 placeholder-black" id="agency-phone-input" type="text" placeholder="Add email here..." />
                  <input class="mb-3 w-full rounded-lg border border-gray-400 px-3 py-3 placeholder-black" id="agency-phone-input" type="text" placeholder="Add email here..." />
  
                  <button class="mt-3 ml-8 flex">+ Add more</button>
                </div>
              </form>
  
              <div class="mb-8 mt-10 flex flex-row space-x-28">
                <p class="pt-10">Remind me later</p>
                <button class="font-roboto mt-4 rounded-xl bg-rose-600 px-12 py-3 font-medium text-white">Send invites</button>
              </div>
            </div>
          </div>
  
          <!--Right handside column -->
  
          <div class="font-poppins rounded-r-3xl bg-gray-300 text-sm"></div>
        </div>
      </div>
    </div>
  </container>
  