<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-red-200">
    <div class="font-poppins relative bg-white px-6 pt-4 pb-8 text-gray-700 sm:mx-auto sm:rounded-3xl">

  
      <div class="flex flex-row-reverse">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex h-5 w-5 justify-end">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
      
      <section>
        <div class="text-2xl font-bold">Add new property</div>
        <div class="mt-10 font-semibold">Property Address</div>
        <input class="mt-2 w-full rounded-md border-2 border-gray-300 py-2 px-4 text-sm font-medium text-gray-700 placeholder-gray-700" type="text" placeholder="Start typing..." />
      </section>
  
      <container class="mt-10 grid grid-cols-4 gap-x-9 gap-y-3 font-semibold">
        <div>Type</div>
        <div>Bedrooms</div>
        <div>Bathrooms</div>
        <div>Garages</div>
  
        <div>
          <button type="button" class="btn-primary" id="menu-button" aria-expanded="true" aria-haspopup="true">
            Select
            <!-- Heroicon name: mini/chevron-down -->
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
  
        <div>
          <button type="button" class="btn-primary" id="menu-button" aria-expanded="true" aria-haspopup="true">
            Select
            <!-- Heroicon name: mini/chevron-down -->
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
  
        <div>
          <button type="button" class="btn-primary" id="menu-button" aria-expanded="true" aria-haspopup="true">
            Select
            <!-- Heroicon name: mini/chevron-down -->
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
  
        <div>
          <button type="button" class="btn-primary" id="menu-button" aria-expanded="true" aria-haspopup="true">
            Select
            <!-- Heroicon name: mini/chevron-down -->
            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </container>
  
      <footer class="mt-10 flex flex-row-reverse gap-4">
        <button class="rounded-md bg-red-600 px-4 py-1 text-white">Create Property</button>
        <button class="font-semibold text-gray-600">Cancel</button>
      </footer>
    </div>
  </div>
  