<container class="flex h-screen items-center justify-center bg-red-500 sm:py-12 ">
    <div class="m-10 rounded bg-white px-6 pt-10 pb-8 sm:mx-auto sm:rounded-lg">
      <table class="font-poppins table-auto border-separate border-spacing-x-14">
        <!--Table Header-->
        <thead class="text-gray-700 text-left">
          <tr>
            <th>ADDRESS</th>
            <th>LEASE PERIOD</th>
            <th>INSPECTION</th>
            <th>TENANT</th>
            <th>OWNER</th>
            <th class="pl-20">STATUS</th>
          </tr>
        </thead>
  
        <!--Content of list-->
        <tbody>
          <tr>
            <td>
              <p class="font-semibold">25 Maltman Street South,</p>
              <p></p>
              <p class="text-xs">Kings Beach, QLD 4551</p>
            </td>
            <td>31 Jan, 2022 - 31 Dec, 2022</td>
            <td>June 20, 2022</td>
            <td>John Smith, Jane Smith</td>
            <td>Mark Miller</td>
  
            <td><indicator-centre class="ml- ml-14 rounded-full bg-green-500 px-7 py-1 text-white">Active</indicator-centre></td>
          </tr>
        </tbody>
      </table>
    </div>
  </container>
  