<!--
Agent account component
-->
<div class="flex h-screen items-center justify-center bg-red-500">
    <div class="max-w-xl rounded-3xl border border-gray-300 bg-gray-50 py-1 px-6">
      <div class="bg-white px-6 pt-10 pb-8">
        <div class="flex flex-row items-center justify-center">
          <icon><img src="" alt="" /></icon>
          <h1 class="mb-7 text-3xl font-bold text-red-400">hubkey</h1>
        </div>
  
        <div class="font-poppins flex flex-col items-center">
          <p class="mb-2 text-2xl font-black">Complete your agent account</p>
  
          <p class="text-gray-600">Finish creating your account. Enter your details.</p>
        </div>
  
        <form class="font-roboto mt-3 flex flex-col">
          <div class="">
            <input class="mb-3 w-full rounded-lg border border-black px-3 py-3 placeholder-black" id="agency-name-input" type="text" placeholder="Agency name..." />
            <input class="mb-3 w-full rounded-lg border border-black px-3 py-3 placeholder-black" id="agency-phone-input" type="text" placeholder="Enter your phone number..." />
            <input class="mb-3 w-full rounded-lg border border-black px-3 py-3 placeholder-black" id="agency-phone-input" type="text" placeholder="Start typing agency address..." />
          </div>
  
          <div class="flex justify-center">
            <button class="mt-4 w-full rounded-lg bg-rose-600 px-20 py-3 font-semibold text-white">Complete account setup</button>
          </div>
        </form>
  
        <hr class="border-1 -mx-12 mt-5 border-gray-400" />
  
        <footer class="my-4 flex flex-col items-center space-y-2 text-xs">
          <p>Personal Information Collection Statement</p>
          <p>Privacy Policy</p>
        </footer>
      </div>
    </div>
  </div>
  