<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-red-200">
    <div class="font-poppins relative bg-white px-6 pt-10 pb-8 sm:mx-auto sm:rounded-3xl">
      <!--First Line  -->
      <div class="grid grid-cols-3">
        <h2 class="text-xl font-bold">Property Details</h2>
        <button class="rounded-full bg-red-600 mr-24 text-white">Inactive</button>
        <div class="ml-40">icon</div>
      </div>
      <!--Second Line  -->
  
      <h3 class="pt-3">Address</h3>
      <!--Address Section  -->
  
      <div class="flex flex-col text-xl text-gray-600">
        <p class="pt-3">Street Address</p>
        <p class="">City, State, Post code, Country</p>
      </div>
  
  
      <section class="text-gray-500">
        <hr class="mx-auto my-2 bg-gray-100 dark:bg-gray-700" />
    
        <div class="grid grid-cols-4 divide-x-2 space-x-6 space-y-2">
          <!--row 1 -->
          <div class="pl-8 py-2">+ Bedrooms</div>
          <div class="pl-8">+ Bathrooms</div>
          <div class="pl-8">+ Car Garage</div>
          <div class="pl-8">Select Type</div>
        </div>
          <hr class="mx-auto my-2 bg-gray-100 dark:bg-gray-700" />
          <!--row 2 -->
        <div class="grid grid-cols-4 space-x-6 space-y-2">
    
          <div class="pl-8 py-2 col-span-2 flex flex-row space-x-7">
            <p class="font-semibold text-gray-600">Lease Period</p>
            <p>Start Date - End Date</p>
          </div>
  
          <div class="pl-8 border-l-2">Lease Length</div>
    
  
        </div>
      </section>
  
    </div>
  </div>
  
  